* {
  box-sizing: border-box;
}
.part {
  display: flex;
}

.temperature,
.line_parametrs {/*внутри флекса part два блока занимают по 50% всего контейнера, блок-1-это картинка с погодой и 1 градусом, блок-2 это параметры "по ощущению...Влажность"*/
  flex-basis: 50%;
}

.temperature {/*отвечает за 1 градус, который на верхнем облаке*/
  display: flex;
  align-items: center;/*по центру его линии*/
}

.all_days {/*за все дни отвечает*/
  display: flex;
  justify-content: space-between;/*Флексы-дни погоды с самой погодой равномерно распределяются по всей строке.*/
  flex-wrap: wrap;/*лексы выстраиваются в несколько строк, когда ширина браузера уменьшится до определенного значения*/
}

.day {
  flex-basis: 13%;/*за то сколько будут занимать ширины в % флексы с погодой по дням*/
  text-align: center;/*чтобы текст по центру был*/
}

.weather_icon_first {/*самая 1 иконка сверху*/
  width: 110px;
  height: auto;/* Высота элемента соответствует высоте содержимого элемента*/
}

.weather-icon {
  width: 110px;
  height: auto;
}

@media (max-width: 800px) {
  .day {
    display: flex;
    justify-content: space-between;/*Флексы-дни погоды с самой погодой равномерно распределяются по всей строке.*/
    align-items: center;/*по центру его линии*/
    flex-basis: 100%;/*внутри флекса день занимает 100% ширины*/
    text-align:left;/*выравнивание по левому краю*/
    border-bottom: 2px solid rgb(131, 61, 61);/*граница flexa*/
    padding: 10px 0;/*внутрений отступ*/
  }

  .name_of_day,/*название дня*/
  .picture_of_day,/*облако*/
  .degree,/*градусы*/
  .wind {/*ветер*/
    flex-basis: 25%;/*по 25% на каждую информацию*/
  }

  .weather-icon {/*за иконки погоды, ширина и высота*/
    width: 70px;
    height: auto;
  }
}
